@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<p>
    @Html.ActionLink("Create a new Post", "create", "post", new { Area = "admin" })
</p>


@RenderBody()

@section scripts {
<script>
    $(function() {
            function split(val) {
                return val.split(/,\s*/);
            }

            function extractLast(term) {
                return split(term).pop();
            }

            var availableTags;

            $("#Tags")
                // don't navigate away from the field on tab when selecting an item
                .bind("keydown", function (event) {
                    if (event.keyCode === $.ui.keyCode.TAB &&
                        $(this).autocomplete("instance").menu.active) {
                        event.preventDefault();
                    }
                })
                .autocomplete({
                    minLength: 0,
                    source: function( request, response ) {
                        if (availableTags) {
                            response($.ui.autocomplete.filter(availableTags, extractLast(request.term)));
                            return;
                        }
                        
                        $.getJSON("/admin/tag/", request, function (data) {
                            availableTags = data;
                            response($.ui.autocomplete.filter(availableTags, extractLast(request.term)));
                        });
                    },
                    focus: function() {
                        // prevent value inserted on focus
                        return false;
                    },
                    select: function(event, ui) {
                        var terms = split(this.value);
                        // remove the current input
                        terms.pop();
                        // add the selected item
                        terms.push(ui.item.value);
                        // add placeholder to get the comma-and-space at the end
                        terms.push("");
                        this.value = terms.join(", ");
                        return false;
                    }
                });

            $(".datepicker").datepicker();
        });
</script>
}